body {
	margin-left: 50px;
	margin-top: 20px;
	font-family: sans-serif;
}

table th,
table td {
	padding-left: 20px;
	padding-right: 20px;
	white-space: nowrap;
}

div.kButtons {
	margin-left: 50px;
	padding-top: 15px;
	white-space: nowrap;
}

#kButtonStart {
	background-color: #C2F0C2;
	color: #006B00;
	border-color: 1px #006B00 solid;
	border-radius: 3px;
}

#kButtonStart:disabled,
#kButtonStop:disabled {
	color: #aaaaaa;
}

#kButtonStop {
	background-color: #FFC2C2;
	color: #A30000;
	border-color: 1px #A30000 solid;
}

#kButtonClear {
	background-color: #ffffff;
}

input[type=text] {
	font-size: large;
}

input[type=button] {
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: large;
	margin-right: 10px;
	border-radius: 5px;
}

.kStatusBox {
	margin: 20px;
}

.kError {
	background-color: #FFC2C2;
	border: 1px #A30000 solid;
	width: 80%;
	margin: 20px;
	padding: 15px;
	border-radius: 3px;
	color: #A30000;
	display: none;
}

.kLog td.kLogWhen {
	width: 50px;
	white-space: nowrap;
	font-weight: bold;
	font-size: small;
}

.kLog td.kLogMessage {
	width: 450px;
	white-space: nowrap;
	font-size: small;
}
